NODE_ENV='production'
APP_ENV='production'
PORT='3001'
CLIENT_DIST_DIR='client/dist'
VITE_API_BASE_URL='/'
WEBHOOK_TOKEN='CHANGE_ME_SECRET'
MYSQL_HOST='127.0.0.1'
MYSQL_PORT='3306'
MYSQL_USER='wa_web_agent'
MYSQL_PASSWORD=''
MYSQL_DATABASE='wa_logger'
